[user]
	name = Piotr Jezusek
	email = <email>
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[delta]
    features = line-numbers decorations
    syntax-theme = gruvbox-dark
    plus-style = syntax "#003800"
    plus-emph-style = syntax "#009800"
    minus-style = syntax "#3f0001"

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28
