" General {{{
" Set mapleader
let mapleader = ','

" Set relative numbers
set relativenumber
set number

" Set clipboard
set clipboard=unnamedplus,unnamed

" No bells
set visualbell
set noerrorbells
" }}}

" Mapping {{{
" Map C-c to ESC
nnoremap <C-c> <ESC>
inoremap <C-c> <ESC>
vnoremap <C-c> <ESC>
xnoremap <C-c> <ESC>
snoremap <C-c> <ESC>
cnoremap <C-c> <ESC>
onoremap <C-c> <ESC>

" Remap exit
nnoremap <C-w>q :q<CR>

" Remap save and quit commands
command! WQ wq
command! Wq wq
command! W w
command! Q q

" Navigation
nnoremap <leader>d :action GotoDeclaration<CR>
nnoremap <leader>i :action GotoImplementation<CR>
nnoremap <leader>s :action GotoSuperMethod<CR>
nnoremap <leader>a :action ShowIntentionActions<CR>
nnoremap <leader>u :action FindUsages<CR>
vnoremap <leader>u :action FindUsages<CR>
nnoremap <leader>p :action ParameterInfo<CR>
nnoremap <leader>e :action ShowErrorDescription<CR>
nnoremap <leader>r :action RefactoringMenu<CR>
vnoremap <leader>r :action RefactoringMenu<CR>

"}}}

" Plugins {{{
set surround
set multiple-cursors
"}}}



